<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll Site </title>
    <!--<link rel="stylesheet" href="static/poll_site/style.css" />-->
</head>
<body>

<main>

    <div>
        <h3>Questions</h3>
        <ul>
            {% for q in questions %}
                <li><a href="{% url 'question_details' q.id %}">{{ q.question_text }}</a></li>
                <ul>
                {% for choice in q.choice_set.all %}
                    <li>{{ choice.choice_text }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>

</main>

</body>
</html>