<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>poll_site</title>
    <!--<link rel="stylesheet" href="static/poll_site/style.css" />-->
</head>
<body>

<main>

 	<h3>{{ question.question_text }}</h3>
    <div id="question_things">
       
	<form id="question_vote">
		{% csrf_token %}

		    {% for choice in question.choice_set.all %}
		    <input type="radio" name="question_choice" value="{{choice.id}}" />
		        {{ choice.choice_text }}
		    </br>
		    {% endfor %}



		<input type="hidden" id="question_id" value="{{ question.id }}" />
		<input type="submit" />
	</form>
	</div>

<script src="{% static 'poll_site/js/voting.js' %}"></script>


</main>

</body>
</html>