@import url(https://fonts.googleapis.com/css?family=Nova+Square);
@import url(https://fonts.googleapis.com/css?family=Arimo);


/*@font-face {
  font-family: 'Nova Square';
  src: url(https://fonts.googleapis.com/css?family=Nova+Square);
  font-family: 'Arimo', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Arimo);

}*/


html, body {
  width: 100%;
  height: 100%;
  padding: 100;
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

p, a{
	font-family: 'Arimo', sans-serif;
}


/*   Headings    */
h1 {
	font-family: 'Nova Square', cursive;
	font-weight: normal;
	font-size: 2.5em;
	color: #E23045;
	background: EEEEEE;
}

h2 {
	
	font-family: 'Nova Square', cursive;
	font-weight: normal;
	color: #FFF6E0;
	background-color: #E23045;
}

h3 {
	font-family: 'Nova Square', cursive;
	font-weight: normal;
}



#css-zen-garden {
	position: relative;
    text-align: center;
	display: inline;
    margin-left:auto;
    margin-right:auto;
	background: #EEEEEE;
	}



.page-wrapper {
	text-align: left;
	width: 800px;
	margin: 0 auto;
	display: inline-block;
    vertical-align: middle;
	}


.preamble {
	background-color: #1B4549;
	color: #FFF6E0;
	box-shadow: 30px 40px #7AB3B0;
	padding: 20px 20px;
	margin-bottom: 75px;

	}

main  {
	display: inline-block;
	width: 460px;
}


.explanation {
	background-color: #FFF6E0;
	color: #000;
	box-shadow: 30px 40px #7AB3B0;
	margin-bottom: 20px;
	border: 1px solid black;
	padding: 0 20px;

	}


.participation{
	background-color: #FFF6E0;
	color: #000;
	box-shadow: 30px 40px #7AB3B0;
	margin-bottom: 20px;
	border: 1px solid black;
	padding: 0 20px;
}


.resources{
	display: none;
}

footer>a{
	color:#FFF6E0;
	background-color: #908673;
	display: inline;
	padding: 5px;
	margin: 23px -522px 825px 535px;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 10px 15px 0 #D8CFBC;
}




li{
	width: 175px;
	list-style: none;
	background-color: #E23045;
	box-shadow: 10px 10px #F59581;
	margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}


li>a{
	text-decoration: none;
	color: #FFF6E0;
}


.sidebar {
	text-align: center;
	vertical-align: top;
	display: inline-block;
    margin-top: -15px;
    margin-left: 75px;

}


p>a {
	color: #E12E43;
	text-decoration: none;
}







